<aside id="sidebar" class="sidebar" >

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="/userProfile">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="/editUserProfile">
          <i class="bi bi-menu-button-wide"></i><span>Edit profile</span>
        </a>
        
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="/userProfileOrders">
          <i class="bi bi-journal-text"></i><span>Orders</span></i>
        </a>
        
      </li>

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#tables-nav" data-bs-toggle="collapse" href="/addressbook">
          <i class="bi bi-layout-text-window-reverse"></i><span>Addressbook</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="/changePassword">
          <i class="bi bi-bar-chart"></i><span>Change password</span>
        </a>
      </li>
    </ul>
  </aside>
