<div class="bg-grey shadow-sm position-fixed" id="sidebar" >
    <ul class="nav flex-column p-4">
        <li class="nav-item " style="margin-top: 59px;">
            <a class="nav-link" href="../admin/adminhome" onclick="showSection('dashboard')"><i class="bi bi-speedometer2"></i> Dashboard</a>
        </li>
        <!-- <li class="nav-item">
            <a class="nav-link" href="../admin/sales" onclick="showSection('sales')"><i class="bi bi-receipt"></i> sales</a>
        </li> -->
        <li class="nav-item">
            <a class="nav-link" href="../admin/users" onclick="showSection('users')"><i class="bi bi-people"></i> Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../admin/products" onclick="showSection('products')"><i class="bi bi-box"></i> Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../admin/categories" onclick="showSection('categories')"><i class="bi bi-tags"></i> Categories</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../admin/orders" onclick="showSection('orders')"><i class="bi bi-list"></i> orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../admin/coupons" onclick="showSection('coupons')"><i class="bi bi-credit-card-2-front-fill"></i> Coupons</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="../admin/offers" onclick="showSection('offers')"><i class="bi bi-gift"></i> Offers</a>
        </li>
    </ul>
</div>
    