<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!-- Vendor CSS Files -->
<link href="/userProfileAssets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/userProfileAssets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/userProfileAssets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/userProfileAssets/vendor/quill/quill.snow.css" rel="stylesheet">
<link href="/userProfileAssets/vendor/quill/quill.bubble.css" rel="stylesheet">
<link href="/userProfileAssets/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/userProfileAssets/vendor/simple-datatables/style.css" rel="stylesheet">

<link href="/userProfileAssets/assets/css/style.css" rel="stylesheet">
<%- include('../partials/_userhead') %>
</head>
<body>
<div class="top-bar">
    <%- include('../partials/_usertopbar') %>
</div>

<div class="container-fluid">
    <div class="row">
        <nav class="sidebar ">
            <%- include('../partials/_userProfilesidebar') %>
        </nav>

            <div class="tab-pane pt-3" id="profile-change-password" style="position: relative;margin-left: 29%;margin-top: 10%;">
                <h4>CHANGE PASSWORD</h4><br>
                  <!-- Change Password Form -->
                  <form>
                    <div class="row mb-6">
                      <label for="currentPassword" class="col-md-4 col-lg-3 col-form-label">Current Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="password" type="password" class="form-control" id="currentPassword">
                      </div>
                    </div>

                    <div class="row mb-6">
                      <label for="newPassword" class="col-md-4 col-lg-3 col-form-label">New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="newpassword" type="password" class="form-control" id="newPassword">
                      </div>
                    </div>

                    <div class="row mb-6">
                      <label for="renewPassword" class="col-md-4 col-lg-3 col-form-label">Re-enter New Password</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="renewpassword" type="password" class="form-control" id="renewPassword">
                      </div>
                    </div>

                    <div class="text-center">
                      <button type="submit" class="btnn btn-primary">Change Password</button>
                    </div>
                  </form>
                  <a style="color: rgb(33, 43, 119); left: 20px; margin: 155px;" href="/email">forgot password?</a>
                </div>
            </div>
        </div>
    </body>
    </html>